{% extends 'home.html' %}

{% block conteudo %}
<div class="container-fluid py-5">
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card text-center border-0 rounded shadow">
        <div class="card-body">
          <i class="bi bi-building h1 text-primary"></i>
          <h5 class="card-title mt-3">Dados Consultório</h5>
          <a href="cadastro_consultorio" class="stretched-link"></a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card text-center border-0 rounded shadow">
        <div class="card-body">
          <i class="bi bi-file-earmark-plus h1 text-success"></i>
          <h5 class="card-title mt-3">Cadastrar Anamnese</h5>
          <a href="cadastrar_anamnese" class="stretched-link"></a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card text-center border-0 rounded shadow">
        <div class="card-body">
          <i class="bi bi-journal-text h1 text-info"></i>
          <h5 class="card-title mt-3">Cadastrar Convênios</h5>
          <a href="cadastrar-convenio" class="stretched-link"></a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card text-center border-0 rounded shadow">
        <div class="card-body">
          <i class="bi bi-people h1 text-warning"></i>
          <h5 class="card-title mt-3">Cadastrar Profissional</h5>
          <a href="cadastrar-profissional" class="stretched-link"></a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card text-center border-0 rounded shadow">
        <div class="card-body">
          <i class="bi bi-file-earmark-text h1 text-danger"></i>
          <h5 class="card-title mt-3">Termos de Consentimento</h5>
          <a href="termos" class="stretched-link"></a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card text-center border-0 rounded shadow">
        <div class="card-body">
          <i class="bi bi-cart h1 text-info"></i>
          <h5 class="card-title mt-3">Cadastrar Produtos</h5>
          <a href="produtos" class="stretched-link"></a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card text-center border-0 rounded shadow">
        <div class="card-body">
          <i class="bi bi-person-lines-fill h1 text-secondary"></i>
          <h5 class="card-title mt-3">Gestão de Usuários</h5>
          <a href="usuarios" class="stretched-link"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
{% endblock %}
